<% provide(:title, 'Ranking') %>
<h1>Ranking</h1>

<%= will_paginate %>

<ul class="people">
  <% @people.each.with_index(1) do |people, i| %>
    <li>
      <%= "No.#{i}" %>
      <%= gravatar_for people, size: 50 %>
      <%= link_to people.handlename, people %>
      <br>
      point: <%= people.point %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
